div.toolbar {
  prototype: ToolbarView url(../Toolbar/ToolbarView.tis);
  //overflow: hidden;
}

div.toolbar_second {
  prototype: ToolbarViewSecond url(../Toolbar/ToolbarViewSecond.tis);
  //overflow: hidden;
}

div.toolbar {
  flow: horizontal;
  background: #3c3b37;
  height: 0dip;
  transition: height 400ms;
  //@CHECK-SIZE;
}

div.toolbar_second {
  flow: horizontal;
  background: #333333;
  height: 0dip;
  transition: height 400ms;
  //@CHECK-SIZE;
}

div.toolbar:checked {
  height: 36dip;
}

div.toolbar_second:checked {
  height: 36dip;
}

div.toolbar > band.file, band.note {
  style-set: toolbar-band;
}

div.toolbar_second > band.format_second, band.paragraph_second {
  style-set: toolbar-band;
}

band > splitter {
  background-color: #555;
  width: 1px;
  height: *;
}

@set toolbar-band {
  band.file {
    @HEADER-BAND;
    //width: 140dip;
    width: *;
    height: *;
    //margin-left: auto;
    //margin-right: auto;
    background: #3c3b37;
    //@CHECK-SIZE;
  }

  band.note {
    @HEADER-BAND;
    //@CHECK-SIZE;
    width: *;
    background: #3c3b37;
  }

  band.format_second {
    @HEADER-BAND;
    height: *;
    background: #333333;
    margin-left: auto;
    margin-right: auto;
    //@CHECK-SIZE;
  }

  band > button {
    display:block;
    size: 36dip;
    foreground-position: 50% 50%;
    foreground-repeat: no-repeat;
    foreground-size: 50%;
    color: #ccc;
    fill: #ccc;
    stroke: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    //@CHECK-SIZE;
  }

  band > button:hover {
    fill: highlight;
    background: linear-gradient(to bottom, rgba(255,255,255,30%), rgba(96,96,96,15%));
  }

  band > button:checked {
    background-color:#eee;
    //transition: background-color(linear,150ms);
  }

  band > button:disabled {
    fill: #888;
  }

  // file band
  button.new_file { foreground-size:26dip 26dip; foreground-image: url(path:M 4.5 2 C 3.6774686 2 3 2.6774686 3 3.5 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 11.5 14 C 12.322531 14 13 13.322531 13 12.5 L 13 5.2929688 L 12.853516 5.1464844 L 9.7070312 2 L 4.5 2 z M 4.5 3 L 9 3 L 9 6 L 12 6 L 12 12.5 C 12 12.781469 11.781469 13 11.5 13 L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 3.5 C 4 3.2185314 4.2185314 3 4.5 3 z M 10 3.7070312 L 11.292969 5 L 10 5 L 10 3.7070312 z)}
  button.open_file { foreground-size:26dip 26dip; foreground-image: url(path:M 4.5 2 C 3.6774686 2 3 2.6774686 3 3.5 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 11.5 14 C 12.322531 14 13 13.322531 13 12.5 L 13 5.2929688 L 12.853516 5.1464844 L 9.7070312 2 L 4.5 2 z M 4.5 3 L 9 3 L 9 6 L 12 6 L 12 12.5 C 12 12.781469 11.781469 13 11.5 13 L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 3.5 C 4 3.2185314 4.2185314 3 4.5 3 z M 10 3.7070312 L 11.292969 5 L 10 5 L 10 3.7070312 z M 6 8 L 6 9 L 6.5 9 L 9.5 9 L 10 9 L 10 8 L 9.5 8 L 6.5 8 L 6 8 z M 6 10 L 6 11 L 6.5 11 L 8.5 11 L 9 11 L 9 10 L 8.5 10 L 6.5 10 L 6 10 z)}
  button.open_folder { foreground-size:26dip 26dip; foreground-image: url(path:M 4.5 2 C 3.6774686 2 3 2.6774686 3 3.5 L 3 12.5 C 3 13.322531 3.6774686 14 4.5 14 L 11.5 14 C 12.322531 14 13 13.322531 13 12.5 L 13 5.2929688 L 12.853516 5.1464844 L 9.7070312 2 L 4.5 2 z M 4.5 3 L 9 3 L 9 6 L 12 6 L 12 12.5 C 12 12.781469 11.781469 13 11.5 13 L 4.5 13 C 4.2185314 13 4 12.781469 4 12.5 L 4 3.5 C 4 3.2185314 4.2185314 3 4.5 3 z M 10 3.7070312 L 11.292969 5 L 10 5 L 10 3.7070312 z M 6 8 L 6 9 L 6.5 9 L 9.5 9 L 10 9 L 10 8 L 9.5 8 L 6.5 8 L 6 8 z M 6 10 L 6 11 L 6.5 11 L 8.5 11 L 9 11 L 9 10 L 8.5 10 L 6.5 10 L 6 10 z)}
  button.save_file { foreground-size:26dip 26dip; foreground-image: url(path:M 5 3 C 3.9 3 3 3.9 3 5 L 3 19 C 3 20.1 3.9 21 5 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 6 L 18 3 L 5 3 z M 8 4 L 16 4 L 16 9 L 8 9 L 8 4 z M 13 5 L 13 8 L 15 8 L 15 5 L 13 5 z M 7 12 L 17 12 C 17.6 12 18 12.4 18 13 L 18 18 C 18 18.6 17.6 19 17 19 L 7 19 C 6.4 19 6 18.6 6 18 L 6 13 C 6 12.4 6.4 12 7 12 z)}
  button.tools
  {
    //margin-left: *;
    //margin-right: 6em;
    foreground-size: 26dip 23dip; foreground-image: url(path:M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17 1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 68-28t68 28l152 152q28 28 28 68t-28 68z)
  }
  button.source { foreground-size:26dip 20dip; foreground-image: url(path:M553 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z)}

  // note band
  //button.image { foreground-size:30dip 30dip; foreground-image: url(path:M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z)}
  //button.table { foreground-size:30dip 30dip; foreground-image: url(path:M576 1376v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm128-320v1088q0 66-47 113t-113 47h-1344q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1344q66 0 113 47t47 113z); }

  band.format_second > button.format_remove { foreground-size: 16dip 16dip; foreground-image: url(path:M832 1408l336-384h-768l-336 384h768zm1013-1077q15 34 9.5 71.5t-30.5 65.5l-896 1024q-38 44-96 44h-768q-38 0-69.5-20.5t-47.5-54.5q-15-34-9.5-71.5t30.5-65.5l896-1024q38-44 96-44h768q38 0 69.5 20.5t47.5 54.5z)}
  band.format_second > button.format_bold { foreground-size: 16dip 16dip; foreground-image: url(path:M747 1521q74 32 140 32 376 0 376-335 0-114-41-180-27-44-61.5-74t-67.5-46.5-80.5-25-84-10.5-94.5-2q-73 0-101 10 0 53-.5 159t-.5 158q0 8-1 67.5t-.5 96.5 4.5 83.5 12 66.5zm-14-746q42 7 109 7 82 0 143-13t110-44.5 74.5-89.5 25.5-142q0-70-29-122.5t-79-82-108-43.5-124-14q-50 0-130 13 0 50 4 151t4 152q0 27-.5 80t-.5 79q0 46 1 69zm-541 889l2-94q15-4 85-16t106-27q7-12 12.5-27t8.5-33.5 5.5-32.5 3-37.5.5-34v-65.5q0-982-22-1025-4-8-22-14.5t-44.5-11-49.5-7-48.5-4.5-30.5-3l-4-83q98-2 340-11.5t373-9.5q23 0 68.5.5t67.5.5q70 0 136.5 13t128.5 42 108 71 74 104.5 28 137.5q0 52-16.5 95.5t-39 72-64.5 57.5-73 45-84 40q154 35 256.5 134t102.5 248q0 100-35 179.5t-93.5 130.5-138 85.5-163.5 48.5-176 14q-44 0-132-3t-132-3q-106 0-307 11t-231 12z)}
  band.format_second > button.format_italic { foreground-size: 16dip 16dip; foreground-image: url(path:M384 1662l17-85q6-2 81.5-21.5t111.5-37.5q28-35 41-101 1-7 62-289t114-543.5 52-296.5v-25q-24-13-54.5-18.5t-69.5-8-58-5.5l19-103q33 2 120 6.5t149.5 7 120.5 2.5q48 0 98.5-2.5t121-7 98.5-6.5q-5 39-19 89-30 10-101.5 28.5t-108.5 33.5q-8 19-14 42.5t-9 40-7.5 45.5-6.5 42q-27 148-87.5 419.5t-77.5 355.5q-2 9-13 58t-20 90-16 83.5-6 57.5l1 18q17 4 185 31-3 44-16 99-11 0-32.5 1.5t-32.5 1.5q-29 0-87-10t-86-10q-138-2-206-2-51 0-143 9t-121 11z)}
  band.format_second > button.format_superscript { foreground-size: 16dip 16dip; foreground-image: url(path:M1025 1369v167h-248l-159-252-24-42q-8-9-11-21h-3l-9 21q-10 20-25 44l-155 250h-258v-167h128l197-291-185-272h-137v-168h276l139 228q2 4 23 42 8 9 11 21h3q3-9 11-21l25-42 140-228h257v168h-125l-184 267 204 296h109zm637-679v206h-514l-3-27q-4-28-4-46 0-64 26-117t65-86.5 84-65 84-54.5 65-54 26-64q0-38-29.5-62.5t-70.5-24.5q-51 0-97 39-14 11-36 38l-105-92q26-37 63-66 83-65 188-65 110 0 178 59.5t68 158.5q0 56-24.5 103t-62 76.5-81.5 58.5-82 50.5-65.5 51.5-30.5 63h232v-80h126z)}
  band.format_second > button.format_subscript { foreground-size: 16dip 16dip; foreground-image: url(path:M1025 1369v167h-248l-159-252-24-42q-8-9-11-21h-3l-9 21q-10 20-25 44l-155 250h-258v-167h128l197-291-185-272h-137v-168h276l139 228q2 4 23 42 8 9 11 21h3q3-9 11-21l25-42 140-228h257v168h-125l-184 267 204 296h109zm639 217v206h-514l-4-27q-3-45-3-46 0-64 26-117t65-86.5 84-65 84-54.5 65-54 26-64q0-38-29.5-62.5t-70.5-24.5q-51 0-97 39-14 11-36 38l-105-92q26-37 63-66 80-65 188-65 110 0 178 59.5t68 158.5q0 66-34.5 118.5t-84 86-99.5 62.5-87 63-41 73h232v-80h126z)}
  band.format_second > button.format_underline { foreground-size: 16dip 16dip; foreground-size:1.0em; foreground-image: url(path:M176 223q-37-2-45-4l-3-88q13-1 40-1 60 0 112 4 132 7 166 7 86 0 168-3 116-4 146-5 56 0 86-2l-1 14 2 64v9q-60 9-124 9-60 0-79 25-13 14-13 132 0 13 .5 32.5t.5 25.5l1 229 14 280q6 124 51 202 35 59 96 92 88 47 177 47 104 0 191-28 56-18 99-51 48-36 65-64 36-56 53-114 21-73 21-229 0-79-3.5-128t-11-122.5-13.5-159.5l-4-59q-5-67-24-88-34-35-77-34l-100 2-14-3 2-86h84l205 10q76 3 196-10l18 2q6 38 6 51 0 7-4 31-45 12-84 13-73 11-79 17-15 15-15 41 0 7 1.5 27t1.5 31q8 19 22 396 6 195-15 304-15 76-41 122-38 65-112 123-75 57-182 89-109 33-255 33-167 0-284-46-119-47-179-122-61-76-83-195-16-80-16-237v-333q0-188-17-213-25-36-147-39zm1488 1409v-64q0-14-9-23t-23-9h-1472q-14 0-23 9t-9 23v64q0 14 9 23t23 9h1472q14 0 23-9t9-23z)}
  band.format_second > button.format_delete { foreground-size: 16dip 16dip; foreground-image: url(path:M1760 896q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1728q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h1728zm-1277-64q-28-35-51-80-48-97-48-188 0-181 134-309 133-127 393-127 50 0 167 19 66 12 177 48 10 38 21 118 14 123 14 183 0 18-5 45l-12 3-84-6-14-2q-50-149-103-205-88-91-210-91-114 0-182 59-67 58-67 146 0 73 66 140t279 129q69 20 173 66 58 28 95 52h-743zm507 256h411q7 39 7 92 0 111-41 212-23 55-71 104-37 35-109 81-80 48-153 66-80 21-203 21-114 0-195-23l-140-40q-57-16-72-28-8-8-8-22v-13q0-108-2-156-1-30 0-68l2-37v-44l102-2q15 34 30 71t22.5 56 12.5 27q35 57 80 94 43 36 105 57 59 22 132 22 64 0 139-27 77-26 122-86 47-61 47-129 0-84-81-157-34-29-137-71z)}

  band.format_second > button.orderlist { foreground-size:16dip 16dip; foreground-image: url(path:M381 1620q0 80-54.5 126t-135.5 46q-106 0-172-66l57-88q49 45 106 45 29 0 50.5-14.5t21.5-42.5q0-64-105-56l-26-56q8-10 32.5-43.5t42.5-54 37-38.5v-1q-16 0-48.5 1t-48.5 1v53h-106v-152h333v88l-95 115q51 12 81 49t30 88zm2-627v159h-362q-6-36-6-54 0-51 23.5-93t56.5-68 66-47.5 56.5-43.5 23.5-45q0-25-14.5-38.5t-39.5-13.5q-46 0-81 58l-85-59q24-51 71.5-79.5t105.5-28.5q73 0 123 41.5t50 112.5q0 50-34 91.5t-75 64.5-75.5 50.5-35.5 52.5h127v-60h105zm1409 319v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-14 9-23t23-9h1216q13 0 22.5 9.5t9.5 22.5zm-1408-899v99h-335v-99h107q0-41 .5-122t.5-121v-12h-2q-8 17-50 54l-71-76 136-127h106v404h108zm1408 387v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-14 9-23t23-9h1216q13 0 22.5 9.5t9.5 22.5zm0-512v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5z)}
  band.format_second > button.unorderlist { foreground-size:16dip 16dip; foreground-image: url(path:M384 1408q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm0-512q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm-1408-928q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm0-512v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5z)}
  band.format_second > button.checklist { foreground-size:16dip 16dip; foreground-image: url(path:m 1532.5762,-471.63867 c -34.961,0.0335 -70.7595,17.04409 -93.7813,46.17773 l -195.8769,300.72656 -57.6114,-65.60546 c -34.5666,-43.74334 -97.9384,-49.21083 -144.0273,-10.93555 -40.3277,32.80749 -46.09005,92.95409 -11.5234,136.697265 l 149.789,169.503905 c 17.2833,21.87162 46.0897,32.8086 80.6563,32.8086 h 5.7597 c 34.5667,0 63.3729,-16.40446 80.6563,-43.744146 l 270.7715,-415.564454 c 28.8053,-49.21113 17.2835,-109.35568 -34.5664,-136.69531 -14.4029,-8.54355 -30.4935,-12.81972 -46.8653,-13.32031 -1.1255,-0.0344 -2.2531,-0.0499 -3.3808,-0.0488 z m 184.8515,205.58789 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83332 -8.9063,22.5 v 191.999999 c 0,8.666658 2.9688,16.166671 8.9063,22.5 5.9375,6.333354 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.166646 21.0938,-9.5 5.9375,-6.333329 8.9062,-13.833342 8.9062,-22.5 V -234.05078 c 0,-8.66668 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z m -430,448 c -53.3333,0 -98.6666,18.66669 -136,56 -37.3333,37.33334 -56,82.66666 -56,136 0,53.33331 18.6667,98.66666 56,136 37.3334,37.33334 82.6667,56 136,56 53.3334,0 98.6667,-18.66666 136,-56 37.3334,-37.33334 56,-82.66669 56,-136 0,-53.33334 -18.6666,-98.66666 -56,-136 -37.3333,-37.33331 -82.6666,-56 -136,-56 z m 430,64 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83332 -8.9063,22.5 v 192 c 0,8.66666 2.9688,16.16667 8.9063,22.5 5.9375,6.33333 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.16667 21.0938,-9.5 5.9375,-6.33333 8.9062,-13.83334 8.9062,-22.5 v -192 c 0,-8.66668 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z m -430,448 c -53.3333,0 -98.6666,18.66666 -136,56 -37.3333,37.33334 -56,82.66668 -56,136 0,53.33334 18.6667,98.66666 56,135.99998 37.3334,37.3333 82.6667,56 136,56 53.3334,0 98.6667,-18.6667 136,-56 37.3334,-37.33332 56,-82.66664 56,-135.99998 0,-53.33332 -18.6666,-98.66666 -56,-136 -37.3333,-37.33334 -82.6666,-56 -136,-56 z m 430,64 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83334 -8.9063,22.5 v 192 c 0,8.66668 2.9688,16.16667 8.9063,22.49998 5.9375,6.3333 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.1667 21.0938,-9.5 5.9375,-6.33331 8.9062,-13.8333 8.9062,-22.49998 v -192 c 0,-8.66666 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z)}
  band.format_second > button.definitionlist { foreground-size:16dip 16dip; foreground-image: url(path:M256 1312v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm1536 768v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm-1536-1152v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm1536 768v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5z)}
  band.format_second > button.blockquote { foreground-size:16dip 16dip; foreground-image: url(path:M832 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z)}
  band.format_second > button.preformatted { foreground-size:16dip 16dip; foreground-image: url(path:M 2 4 L 2 20 L 6 20 L 6 18 L 4 18 L 4 6 L 6 6 L 6 4 L 2 4 z M 18 4 L 18 6 L 20 6 L 20 18 L 18 18 L 18 20 L 22 20 L 22 4 L 18 4 z M 6 7 L 6 9 L 18 9 L 18 7 L 6 7 z M 6 11 L 6 13 L 14 13 L 14 11 L 6 11 z M 6 15 L 6 17 L 18 17 L 18 15 L 6 15 z)}

  band.format_second > button.image { foreground-size:18dip 18dip; foreground-image: url(path:M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z)}
  band.format_second > button.table { foreground-size:18dip 18dip; foreground-image: url(path:M576 1376v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm128-320v1088q0 66-47 113t-113 47h-1344q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1344q66 0 113 47t47 113z); }
}

// style-set for std-toolbar-button works only for toolbar element
//@set band-format {
  div.toolbar > band.format {
    @HEADER-BAND;
    //@CHECK-SIZE;
    width: 240dip;
    background: #3c3b37;
  }

  div.toolbar > band.format > button {
    display:block;
    size: 28dip;
    foreground-position: 50% 50%;
    foreground-repeat: no-repeat;
    foreground-size: 50%;
    color: #555;
    fill: #ccc;
    stroke: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    style-set: "std-toolbar-button";
    //@CHECK-SIZE;
  }

  div.toolbar_second > button.close {
    cursor: pointer;
    foreground-image: url(path:M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z);
    display:block;
    //width: 4dip;
    height: *;
    foreground-position: 50% 50%;
    foreground-repeat: no-repeat;
    foreground-size: 0.7em;;
    fill: #bbb;
    stroke: none;
    border: none;
    background: none;
    //@CHECK-SIZE;
  }

  div.toolbar_second > button:hover {
    fill: highlight;
    //background: linear-gradient(to bottom, rgba(255,255,255,30%), rgba(96,96,96,15%));
  }

  div.toolbar > band.format > button[type="menu"] {
    style-set: "std-toolbar-button-menu";
  }

  /*band > button.spans, button.paragraph {
    //behavior: clickable popup-menu;
    background: url(stock:arrow-down);
    background-size: 5dip;
    background-repeat: no-repeat;
    background-position-right: 2dip;
    background-position-bottom: 2dip;
  }*/

  div.toolbar > band.format > button:hover {
    fill: highlight;
    box-shadow: none;
  }

  div.toolbar > band.format > button:checked {
    background-color:#eee;
  }

  div.toolbar > band.format > button:disabled {
    fill:#ccc;
  }

  //format band
  div.toolbar > band.format > button.format {foreground-size:30dip 30dip; foreground-image: url(path:M15.5,16.8h-7L7,21H3.8l6.8-18h2.8l6.8,18h-3.3L15.5,16.8z M9.4,14.3h5.2L12,6.8L9.4,14.3z)}
  div.toolbar > band.format > button.paragraph { foreground-size:30dip 30dip; foreground-image: url(path:M408 32H177.531C88.948 32 16.045 103.335 16 191.918 15.956 280.321 87.607 352 176 352v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V112h32v344c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V112h40c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24z)}
  div.toolbar > band.format > button.orderlist { foreground-size:30dip 30dip; foreground-image: url(path:M381 1620q0 80-54.5 126t-135.5 46q-106 0-172-66l57-88q49 45 106 45 29 0 50.5-14.5t21.5-42.5q0-64-105-56l-26-56q8-10 32.5-43.5t42.5-54 37-38.5v-1q-16 0-48.5 1t-48.5 1v53h-106v-152h333v88l-95 115q51 12 81 49t30 88zm2-627v159h-362q-6-36-6-54 0-51 23.5-93t56.5-68 66-47.5 56.5-43.5 23.5-45q0-25-14.5-38.5t-39.5-13.5q-46 0-81 58l-85-59q24-51 71.5-79.5t105.5-28.5q73 0 123 41.5t50 112.5q0 50-34 91.5t-75 64.5-75.5 50.5-35.5 52.5h127v-60h105zm1409 319v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-14 9-23t23-9h1216q13 0 22.5 9.5t9.5 22.5zm-1408-899v99h-335v-99h107q0-41 .5-122t.5-121v-12h-2q-8 17-50 54l-71-76 136-127h106v404h108zm1408 387v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-14 9-23t23-9h1216q13 0 22.5 9.5t9.5 22.5zm0-512v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5z)}
  div.toolbar > band.format > button.unorderlist { foreground-size:30dip 30dip; foreground-image: url(path:M384 1408q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm0-512q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm-1408-928q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1408 416v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5zm0-512v192q0 13-9.5 22.5t-22.5 9.5h-1216q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1216q13 0 22.5 9.5t9.5 22.5z)}
  div.toolbar > band.format > button.checklist { foreground-size:30dip 30dip; foreground-image: url(path:m 1532.5762,-471.63867 c -34.961,0.0335 -70.7595,17.04409 -93.7813,46.17773 l -195.8769,300.72656 -57.6114,-65.60546 c -34.5666,-43.74334 -97.9384,-49.21083 -144.0273,-10.93555 -40.3277,32.80749 -46.09005,92.95409 -11.5234,136.697265 l 149.789,169.503905 c 17.2833,21.87162 46.0897,32.8086 80.6563,32.8086 h 5.7597 c 34.5667,0 63.3729,-16.40446 80.6563,-43.744146 l 270.7715,-415.564454 c 28.8053,-49.21113 17.2835,-109.35568 -34.5664,-136.69531 -14.4029,-8.54355 -30.4935,-12.81972 -46.8653,-13.32031 -1.1255,-0.0344 -2.2531,-0.0499 -3.3808,-0.0488 z m 184.8515,205.58789 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83332 -8.9063,22.5 v 191.999999 c 0,8.666658 2.9688,16.166671 8.9063,22.5 5.9375,6.333354 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.166646 21.0938,-9.5 5.9375,-6.333329 8.9062,-13.833342 8.9062,-22.5 V -234.05078 c 0,-8.66668 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z m -430,448 c -53.3333,0 -98.6666,18.66669 -136,56 -37.3333,37.33334 -56,82.66666 -56,136 0,53.33331 18.6667,98.66666 56,136 37.3334,37.33334 82.6667,56 136,56 53.3334,0 98.6667,-18.66666 136,-56 37.3334,-37.33334 56,-82.66669 56,-136 0,-53.33334 -18.6666,-98.66666 -56,-136 -37.3333,-37.33331 -82.6666,-56 -136,-56 z m 430,64 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83332 -8.9063,22.5 v 192 c 0,8.66666 2.9688,16.16667 8.9063,22.5 5.9375,6.33333 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.16667 21.0938,-9.5 5.9375,-6.33333 8.9062,-13.83334 8.9062,-22.5 v -192 c 0,-8.66668 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z m -430,448 c -53.3333,0 -98.6666,18.66666 -136,56 -37.3333,37.33334 -56,82.66668 -56,136 0,53.33334 18.6667,98.66666 56,135.99998 37.3334,37.3333 82.6667,56 136,56 53.3334,0 98.6667,-18.6667 136,-56 37.3334,-37.33332 56,-82.66664 56,-135.99998 0,-53.33332 -18.6666,-98.66666 -56,-136 -37.3333,-37.33334 -82.6666,-56 -136,-56 z m 430,64 c -8.125,0 -15.1562,3.16667 -21.0937,9.5 -5.9375,6.33333 -8.9063,13.83334 -8.9063,22.5 v 192 c 0,8.66668 2.9688,16.16667 8.9063,22.49998 5.9375,6.3333 12.9687,9.5 21.0937,9.5 h 1140 c 8.125,0 15.1563,-3.1667 21.0938,-9.5 5.9375,-6.33331 8.9062,-13.8333 8.9062,-22.49998 v -192 c 0,-8.66666 -2.9687,-16.16667 -8.9062,-22.5 -5.9375,-6.33333 -12.9688,-9.5 -21.0938,-9.5 z)}
  div.toolbar > band.format > button.definitionlist { foreground-size:30dip 30dip; foreground-image: url(path:M256 1312v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm1536 768v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm-1536-1152v192q0 13-9.5 22.5t-22.5 9.5h-192q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h192q13 0 22.5 9.5t9.5 22.5zm1536 768v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5zm0-384v192q0 13-9.5 22.5t-22.5 9.5h-1344q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1344q13 0 22.5 9.5t9.5 22.5z)}
  div.toolbar > band.format > button.blockquote { foreground-size:30dip 30dip; foreground-image: url(path:M832 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z)}
  div.toolbar > band.format > button.preformatted { foreground-size:30dip 30dip; foreground-image: url(path:M553 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z)}
//}

li.remove { foreground-size:1em; foreground-image: url(path:M832 1408l336-384h-768l-336 384h768zm1013-1077q15 34 9.5 71.5t-30.5 65.5l-896 1024q-38 44-96 44h-768q-38 0-69.5-20.5t-47.5-54.5q-15-34-9.5-71.5t30.5-65.5l896-1024q38-44 96-44h768q38 0 69.5 20.5t47.5 54.5z)}
li.strong { foreground-size:0.9em; foreground-image: url(path:M747 1521q74 32 140 32 376 0 376-335 0-114-41-180-27-44-61.5-74t-67.5-46.5-80.5-25-84-10.5-94.5-2q-73 0-101 10 0 53-.5 159t-.5 158q0 8-1 67.5t-.5 96.5 4.5 83.5 12 66.5zm-14-746q42 7 109 7 82 0 143-13t110-44.5 74.5-89.5 25.5-142q0-70-29-122.5t-79-82-108-43.5-124-14q-50 0-130 13 0 50 4 151t4 152q0 27-.5 80t-.5 79q0 46 1 69zm-541 889l2-94q15-4 85-16t106-27q7-12 12.5-27t8.5-33.5 5.5-32.5 3-37.5.5-34v-65.5q0-982-22-1025-4-8-22-14.5t-44.5-11-49.5-7-48.5-4.5-30.5-3l-4-83q98-2 340-11.5t373-9.5q23 0 68.5.5t67.5.5q70 0 136.5 13t128.5 42 108 71 74 104.5 28 137.5q0 52-16.5 95.5t-39 72-64.5 57.5-73 45-84 40q154 35 256.5 134t102.5 248q0 100-35 179.5t-93.5 130.5-138 85.5-163.5 48.5-176 14q-44 0-132-3t-132-3q-106 0-307 11t-231 12z)}
li.em { foreground-size:0.7em; foreground-image: url(path:M384 1662l17-85q6-2 81.5-21.5t111.5-37.5q28-35 41-101 1-7 62-289t114-543.5 52-296.5v-25q-24-13-54.5-18.5t-69.5-8-58-5.5l19-103q33 2 120 6.5t149.5 7 120.5 2.5q48 0 98.5-2.5t121-7 98.5-6.5q-5 39-19 89-30 10-101.5 28.5t-108.5 33.5q-8 19-14 42.5t-9 40-7.5 45.5-6.5 42q-27 148-87.5 419.5t-77.5 355.5q-2 9-13 58t-20 90-16 83.5-6 57.5l1 18q17 4 185 31-3 44-16 99-11 0-32.5 1.5t-32.5 1.5q-29 0-87-10t-86-10q-138-2-206-2-51 0-143 9t-121 11z)}
li.sup { foreground-image: url(path:M1025 1369v167h-248l-159-252-24-42q-8-9-11-21h-3l-9 21q-10 20-25 44l-155 250h-258v-167h128l197-291-185-272h-137v-168h276l139 228q2 4 23 42 8 9 11 21h3q3-9 11-21l25-42 140-228h257v168h-125l-184 267 204 296h109zm637-679v206h-514l-3-27q-4-28-4-46 0-64 26-117t65-86.5 84-65 84-54.5 65-54 26-64q0-38-29.5-62.5t-70.5-24.5q-51 0-97 39-14 11-36 38l-105-92q26-37 63-66 83-65 188-65 110 0 178 59.5t68 158.5q0 56-24.5 103t-62 76.5-81.5 58.5-82 50.5-65.5 51.5-30.5 63h232v-80h126z)}
li.sub { foreground-image: url(path:M1025 1369v167h-248l-159-252-24-42q-8-9-11-21h-3l-9 21q-10 20-25 44l-155 250h-258v-167h128l197-291-185-272h-137v-168h276l139 228q2 4 23 42 8 9 11 21h3q3-9 11-21l25-42 140-228h257v168h-125l-184 267 204 296h109zm639 217v206h-514l-4-27q-3-45-3-46 0-64 26-117t65-86.5 84-65 84-54.5 65-54 26-64q0-38-29.5-62.5t-70.5-24.5q-51 0-97 39-14 11-36 38l-105-92q26-37 63-66 80-65 188-65 110 0 178 59.5t68 158.5q0 66-34.5 118.5t-84 86-99.5 62.5-87 63-41 73h232v-80h126z)}
li.del { foreground-image: url(path:M1760 896q14 0 23 9t9 23v64q0 14-9 23t-23 9h-1728q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h1728zm-1277-64q-28-35-51-80-48-97-48-188 0-181 134-309 133-127 393-127 50 0 167 19 66 12 177 48 10 38 21 118 14 123 14 183 0 18-5 45l-12 3-84-6-14-2q-50-149-103-205-88-91-210-91-114 0-182 59-67 58-67 146 0 73 66 140t279 129q69 20 173 66 58 28 95 52h-743zm507 256h411q7 39 7 92 0 111-41 212-23 55-71 104-37 35-109 81-80 48-153 66-80 21-203 21-114 0-195-23l-140-40q-57-16-72-28-8-8-8-22v-13q0-108-2-156-1-30 0-68l2-37v-44l102-2q15 34 30 71t22.5 56 12.5 27q35 57 80 94 43 36 105 57 59 22 132 22 64 0 139-27 77-26 122-86 47-61 47-129 0-84-81-157-34-29-137-71z)}
li.underline { foreground-size:1.0em; foreground-image: url(path:M176 223q-37-2-45-4l-3-88q13-1 40-1 60 0 112 4 132 7 166 7 86 0 168-3 116-4 146-5 56 0 86-2l-1 14 2 64v9q-60 9-124 9-60 0-79 25-13 14-13 132 0 13 .5 32.5t.5 25.5l1 229 14 280q6 124 51 202 35 59 96 92 88 47 177 47 104 0 191-28 56-18 99-51 48-36 65-64 36-56 53-114 21-73 21-229 0-79-3.5-128t-11-122.5-13.5-159.5l-4-59q-5-67-24-88-34-35-77-34l-100 2-14-3 2-86h84l205 10q76 3 196-10l18 2q6 38 6 51 0 7-4 31-45 12-84 13-73 11-79 17-15 15-15 41 0 7 1.5 27t1.5 31q8 19 22 396 6 195-15 304-15 76-41 122-38 65-112 123-75 57-182 89-109 33-255 33-167 0-284-46-119-47-179-122-61-76-83-195-16-80-16-237v-333q0-188-17-213-25-36-147-39zm1488 1409v-64q0-14-9-23t-23-9h-1472q-14 0-23 9t-9 23v64q0 14 9 23t23 9h1472q14 0 23-9t9-23z)}

button.table {
  aspect: ToolbarView.ButtonTableSelector url(../Toolbar/ToolbarView.tis);
}

button.table > popup {
  popup-position: top-center bottom-center; /*point-on-popup at point-on-anchor */
  size:max-content;
  background: #eee;
  border:1dip solid #ccc;
  padding:4dip;
}

button.table > popup > header {
  behavior:form;
  flow:row(label,div);
  background: transparent;
  width:*;
}

button.table > popup > header > label {
  display:inline-block;
  width:max-content;
  margin-left:*;
}

button.table > popup > table
{
  border-collapse:collapse; padding:0;
}

button.table > popup td
{
  behavior:clickable;
  border:1dip solid #999;
  size: 1.7em 1em;
  background:#fff;
  cursor:pointer;
}

button.table > popup td.selected
{
  background: highlight;
}

button.table > popup td:hover {
  outline:2dip solid #999 -1dip;
}